**/node_modules/
/logs/
dist
**/resources/static/js/
**/resources/static/css/
**/resources/static/img/
**/resources/report.html
**/resources/vue-ssr-server-bundle.json
**/resources/vue-ssr-client-manifest.json
**/resources/templates/dist/
yarn-error.log

# IntelliJ config files
.idea
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/inspectionProfiles/
/.idea/misc.xml
/.idea/.gitignore
/.idea/codeStyles/

# VSCode Docker Config files
.devcontainer/

# test coverage directory
coverage/

# envs/configuration files
*.env
packages/wiii/frontend/config/index.ts

# MacOS
.DS_Store

# docker database data
**/docker/data
