$grey-900: rgba(33, 33, 33, 1);
$grey-700: rgba(97, 97, 97, 1);
$grey-500: rgba(158, 158, 158, 1);
$grey-300: rgba(224, 224, 224, 1);
$grey-100: rgba(245, 245, 245, 1);

$blue-700: rgba(25, 118, 210, 1);

$green-500: rgba(0, 150, 136, 1);

$red-a400: rgba(255, 23, 68, 1);

$neon-crimson: rgba(249, 0, 79, 1);

$white-900: hsla(0, 0%, 100%, 1);

$margin-padding-15: 15px;

.reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  transition: all 0.15s ease-out;
}

.center {
  display: grid;
  place-items: center;
}

.boundary {
  @extend .reset;
  @extend .center;

  margin-bottom: $margin-padding-15;
  padding: 10px;
  border-radius: 10px;

  background-color: $grey-100;
  color: $grey-700;
}

.section {
  @extend .boundary;

  background-color: transparent;
  padding: 10px 0 10px 0;
}

.card {
  @extend .boundary;

  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
