#reply-section {
  padding: 20px 12px;
  border-top: 1px solid var(--border-color);
  border-radius: 0;

  .reply {
    display: block;
  }

  .reply-info {
    margin-bottom: 12px;
  }

  .reply-content {
    padding: 0;
    margin-bottom: 12px;
  }

  .reply-reaction {
    padding: 0;

    .reply-rerepl {
      padding: 4px 8px;
      font-size: 14px;
      border: 1px solid var(--border-color);
      color: var(--text-color);

      &:hover {
        padding: 4px 8px;
        border: 1px solid var(--border-color);
        background-color: var(--border-color);
      }
    }

    .reply-likes {
      font-size: 14px;
      border: 0;
      padding: 4px 8px;

      &:hover {
        border: 0;
        background-color: var(--border-color);
      }
    }
  }

  .reply-valid-text {
    font-style: normal;
    font-size: 15px;
  }

  .card {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: var(--text-color);
  }

  #reply-open {
    background-color: var(--header-nav-bg-color);
    color: var(--text-color);

    &:hover {
      border: 1px solid var(--border-color);
      background-color: var(--border-color);
    }
  }

  .thumbnail {
    max-width: 40px;
    max-height: 40px;
  }

  .pure-text {
    color: var(--text-color);
    font-style: normal;
  }

  .reply-info-user-detail .mini {
    font-size: 14px;
    margin: 0;
  }

  // 댓글 입력창
  #reply-input {
    padding: 12px;

    textarea {
      background-color: var(--header-nav-bg-color);
      margin: 0;
      padding: 4px;
      color: var(--text-color);
      font-size: 15px;
      border-radius: 4px;
      border: 1px solid var(--border-color);
      margin-bottom: 8px;
    }

    #buttons {
      justify-content: flex-end;

      #reply-input-cancel {
        background-color: var(--red-color);
        padding: 4px 8px;
        color: #efefef;
        border-radius: 4px;
        border: 0;
        font-size: 14px;
        margin-left: 8px;
      }

      #reply-input-submit {
        @extend #reply-input-cancel;
        background-color: var(--blue-color);
      }
    }
  }

  // 정렬 영역
  .reply-sort {
    font-size: 15px;
    color: var(--text-color);
    line-height: 32px;

    .reply-sort-button {
      font-size: 12px;
      margin-left: 8px;
      padding: 6px 8px;
      width: auto;
      height: auto;
      border: 1px solid var(--border-color);
      border-radius: 4px;
      color: var(--text-color);
      background-color: var(--header-nav-bg-color);

      &:hover {
        background-color: var(--border-color);
      }
    }
  }
}
