$grey-900: hsla(0, 0%, 26%, 0.9);
$grey-700: hsla(0, 0%, 26%, 0.7);
$grey-500: hsla(0, 0%, 26%, 0.5);
$grey-300: hsla(0, 0%, 26%, 0.3);
$grey-100: hsla(0, 0%, 26%, 0.1);

$white-900: hsla(0, 0%, 100%, 0.9);

$blue-900: hsla(206, 99%, 31%, 0.9);
$blue-700: hsla(206, 99%, 31%, 0.7);
$blue-500: hsla(206, 99%, 31%, 0.5);
$blue-300: hsla(206, 99%, 31%, 0.3);
$blue-100: hsla(206, 99%, 31%, 0.1);

$green-900: hsla(170, 100%, 15%, 0.9);
$green-700: hsla(170, 100%, 15%, 0.7);
$green-500: hsla(170, 100%, 15%, 0.5);
$green-300: hsla(170, 100%, 15%, 0.3);
$green-100: hsla(170, 100%, 15%, 0.1);
