@import 'colors';
@import 'sizes';

.reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  transition: all 0.2s ease-out;
}

.center {
  display: grid;
  place-items: center;
}

.rows-space-between {
  @extend .reset;

  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    margin-right: $margin-padding-15;

    &:last-child {
      margin-right: 0;
    }
  }
}

.area {
  @extend .reset;
  @extend .center;

  max-width: $max-width-mobile;
  overflow-x: hidden;
  overflow-y: auto;
}

.boundary {
  @extend .reset;
  @extend .center;

  width: 100%;
  margin-top: $margin-padding-15;
  padding: 10px;
  border-radius: 10px;

  background-color: $white-900;
  color: $grey-900;
}

.section {
  @extend .boundary;
  margin-top: $margin-padding-15;
}

.card {
  @extend .boundary;

  cursor: pointer;
}

.dark {
  background-color: $deep-dark;
  color: $grey-100;

  .area {
    background-color: $deep-dark;
    color: $sunny-yellow;
  }

  .section,
  .card {
    background-color: $deep-blue;
    color: $sunny-yellow;
  }

  .router-link {
    background-color: $shallow-blue;
    &:hover {
      background-color: $deep-blue;
      color: $neon-crimson;
    }

    &-exact-active {
      color: $neon-crimson;
    }
  }
}

// @see https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
