@import 'colors';
@import 'sizes';

.reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  transition: all 0.15s ease-out;
}

.center {
  display: grid;
  place-items: center;
}

.rows-space-between {
  @extend .reset;

  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    margin-right: $margin-padding-15;

    &:last-child {
      margin-right: 0;
    }
  }
}

.boundary {
  @extend .reset;
  @extend .center;

  margin-bottom: $margin-padding-15;
  padding: 10px;
  border-radius: 10px;

  background-color: $grey-100;
  color: $grey-700;
}

.area {
  @extend .reset;

  max-width: $max-width-mobile;
  overflow-x: hidden;
  overflow-y: auto;
}

.section {
  @extend .boundary;

  background-color: transparent;
  padding: 10px 0 10px 0;
}

.card {
  @extend .boundary;

  cursor: pointer;
}

.dark {
  background-color: $deep-dark;
  color: $grey-100;

  .area {
    background-color: $deep-dark;
    color: $sunny-yellow;
  }

  .section {
    color: $sunny-yellow;
  }

  .card {
    background-color: $deep-blue;
    color: $sunny-yellow;
  }

  .title-area {
    color: $neon-crimson;
    box-shadow: inset 0 -5px 5px rgba($neon-crimson, 0.7);
    background-color: transparent;
  }

  .router-link {
    background-color: transparent;
    box-shadow: inset 0 0 7px rgba($neon-crimson, 0.7);

    &:hover {
      background-color: $deep-blue;
      text-decoration: none;

      .pure-text {
        color: $neon-crimson;
      }
    }

    &-exact-active > p {
      color: $neon-crimson;
    }
  }
}

// @see https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
