@import 'variables';

html,
body {
  @extend .reset;

  background-color: $grey-500;
  overflow-y: auto;
  font-family: -apple-system, 'Helvetica Neue', 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#appWrapper {
  @extend .reset;

  width: 100vw;
  height: calc(100vh - 15px);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
