@import 'variables';

html,
body {
  @extend .reset;

  background-color: $grey-300;
  overflow: visible;
  font-family: -apple-system, 'Helvetica Neue', 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    display: none;
    background-color: transparent;
  }
}

#appWrapper {
  @extend .reset;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  ::-webkit-scrollbar {
    display: block;
    position: fixed;
    width: 5px;
    background-color: transparent;

    transition: none;

    &-thumb {
      background-color: rgba($grey-500, 0.5);
      border-radius: 20px;
    }
  }
}
